name: CI Pipeline

on:
  push:
    branches:
      - dev

jobs:
  run-tests:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.DB_PASSWORD }}
          MYSQL_DATABASE: laravel
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Copy .env file
        run: cp .env.example .env

      - name: Install Composer dependencies
        run: composer install --no-ansi --no-interaction --no-progress --prefer-dist

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Run Tests
        env:
          DB_CONNECTION: mysql
          DB_DATABASE: laravel
          DB_PORT: 3306
          DB_USERNAME: root
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: php artisan test